.memory-button {
    width: 10em;
    height: 5em;
    position: absolute;
    text-shadow: white 1px 1px 10px;
    font-weight: bold;
}

div {
    display: flex;
    flex-wrap: wrap;
}

div > .memory-button {
    width: 10em;
    height: 5em;
    margin: 10px;
    position: relative;
}